<ion-view class="wrapper-spacing">
    <div class="heading-wrapper">
        <h1 class = "eEricssonFont heading-content"> Work Desk</h1>
        <h1 class = "eEricssonFont heading-content"> of the future</h1>
    </div>
    
    
    
    <div class="text-wrapper">
        <p class="text-content" ng-bind-html="uv.userContentRequest | trustAsHtml"></p>
    </div>
    
    <div ng-click="openFeedbackModal()" >
        <p class="feedback-position">Please leave us a feedback</p>
    </div>

    <div ng-click="openTroubleModal()" >
        <p class="feedback-position" style="top:500px !important;">Trouble Ticket</p>
    </div>

    <div ng-if="vm.videoPath > 0">
        <img class="video-position" src="./img/play_video.png" ng-click="openModalVideo(0); uv.startVideoTimer()">
        <!--<button ng-click="vm.displayVideo()"><img src="/img/play-button.png"></button>-->
    </div> 

    <div class="triangle-bottomright">
        <img class="background-img" src="./img/Logo.png" />
    </div>
    
    <ion-slides  ng-if="vm.data.imgArray > 0" on-touch="uv.startImageTimer()" class="img-wrapper" options="uv.data.sliderOptions" slider="uv.data.sliderDelegate">
        <ion-slide-page ng-repeat="img in uv.data.imgArray track by $index">
        <img class="img-content" ng-click="uv.goToSlide($index)" ng-src={{img}} >
        </ion-slide-page>
    </ion-slides>

    <div ng-if="vm.data.imgArray > 0">
        <p style="position: relative;left: 15%;"> Click each image to know further </p>
    </div>
            
</ion-view>