<ion-modal-view>
    <div class="modal image-modal transparent">
      <div class="feedback-button">
            <img src="/img/btn_close.png" height="40px" width="40px" ng-click="uv.closeModalFeedback()">
        </div> 
           <div class="modal-div">
                    <div class="feedback-modal">
                        <form name="feedbackForm" ng-submit="uv.submitFeedback()">
                       
                            <div class="form-div">
                         
                                <label class="label-text">
                                    Enter Your Name
                                </label>
                            <div class="form-spacing">
                                <input ng-model="uv.feedbackUserName" type="text" name="" required >
                            </div>
                            <label class="label-text">
                                Email Address
                            </label>

                            <div class="form-spacing">
                            <input ng-model="uv.feedbackUserEmail" type="email" required >
                            </div>
                            <label class="label-text">
                                Comments
                            </label>
                            <div class="form-spacing">
                            <textarea ng-model="uv.feedbackUserComments" class="comment-wrapper" rows="4" cols="50" required>
                            </textarea>
                            </div>

                         
                            <label class="label-text">
                            How was your experience?
                            </label>
                            <br>
                            <div class="form-spacing">
                            <div class="smiley-div">

                          <!--   <img src="img/happy.png"   height="50px" width="50px" ng-click="uv.happySelect()" >
                            <img class="smiley-margin"   src="img/middle.png" height="50px" width="50px" ng-click="uv.middleSelect()" >
                            <img src="img/sad.png" height="50px" width="50px" ng-click="uv.sadSelect()" > -->
                            <div ng-repeat="image in uv.smileyImages">
                            <img class="smiley-img" ng-src={{image}} ng-click="uv.selectImage($index)" ng-class="{ 'selected-image': $index === uv.selectedEmotion }" >
                            </div>

                            </div>

                            </div>
                            
                            </div>
                            
                            <br />
                            <br />
                            <input  type = "submit" value="Submit" ng-disabled="uv.selectedEmotion === -1">                     
                        </form>
                    </div>
            </div>

       
    </div>
</ion-modal-view>