<ion-modal-view>
    <div class="modal image-modal transparent">
      <div class="button-position">
            <img src="/img/close_icon.png" height="40px" width="40px" ng-click="uv.closeModalFeedback()">
        </div> 
           <div class="modal-div">
                    <div class="feedback-modal">
                        <form>
                            <div class="form-div">
                         
                                <label class="label-text">
                                    Enter Your Name
                                </label>
                            <div class="form-spacing">
                                <input type="text" name="" required>
                            </div>
                            <label class="label-text">
                                Email Address
                            </label>
                            <div class="form-spacing">
                            <input type="email" required>
                            </div>
                            <label class="label-text">
                                Comments
                            </label>
                            <div class="form-spacing">
                            <textarea class="comment-wrapper" rows="4" cols="50">
                            </textarea>
                            </div>
                            </div>
                            
                            <button class="button-style" > Submit </button>
                            
                        </form>
                    </div>
            </div>

       
    </div>
</ion-modal-view>